<div id="yudingdan_marc" >
    <span style="display: none" id="ydd_times">{$ydd_times}</span>
    <h3>征订单编号:<span class="">{$sheet_no}</span></h3>
    <h3>图书品种数:<span class="">{$type_num}</span></h3>

    <h3><input name="marc_ydd" type="radio" value="excel_ydd"/>Excel格式下载 </h3>
    <h3><input name="marc_ydd" type="radio" value="marc_ydd"/>Marc格式下载 </h3>

    <input id="MARC_YDD" type="checkbox" name="MARC_YDD" value="T" disabled="disabled"/><span class="label label-warning">国图</span>
    <input id="Calis_YDD" type="checkbox" name="Calis_YDD" value="T" disabled="disabled"/><span class="label label-info">Calis</span>
    <input id="CF_YDD" type="checkbox" name="CF_YDD" value="T" disabled="disabled"/><span class="label label-success">采访</span>

</div>
<p>
<h2><a id="{$sheet_no}"  class="download_yudingdan download_marc_btn btn btn-warning btn-sm">下载</a></h2>
<button class="btn btn-default btn-sm" id="return_to_my_yudingdan" onclick="return_to_my_yudingdan();" value="返回到我的预订单">返回到我的预订单</button>



