<table class='table table-bordered table-striped'>
    <tr style="text-align: center">
        <td width="50" align="center";>数量</td>
        <td>书名</td>
        <td width="80" align="center";>书号</td>
        <td width="100" align="center";>作者</td>
        <td width="50" align="center";>开本</td>
        <td width="90" align="center";>出版日期</td>
        <td>价格</td>
        <td width="70"  align="center";>库存</td>
    </tr>

    {foreach $ydd_order_detail as $order}
    <tr>
        <td width="50" align="center";>
            {$order['amount']}
        </td>
        <td>
            {$order['book_name']}
        </td>
        <td width="80" align="center";>
            {$order['isbn']}
        </td>
        <td width="100" align="center";>
            {$order['writer']}
        </td>
        <td width="50" align="center";>
            {$order['kb']}
        </td>
        <td width="90" align="center";>
            {$order['publish_date']}
        </td>

        <td>
            {$order['price']}
        </td>
        <td width="70"  align="center";>
            {$order['kc']}
        </td>

    </tr>

    {/foreach}

    {$pagenav}


</table>

<!--<a>回到我的征订单</a>-->
    <button class="btn btn-default btn-sm" id="return_to_my_yudingdan" onclick="return_to_my_yudingdan();" value="返回到我的预订单">返回到我的预订单</button>
