.table-d table{ background:#B0D0FF;font-size:12px;font-family:ו;} 
.table-d table td{ background:#FFF;height:20PX;} 
*,body,html{font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei; ;font-size: 12px;color: #000099;}
