<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建图片成功</title>
    <style>
        .create_gg_success{
            margin-left: auto;
            margin-right: auto;
            height: 30px;
            width: 100px;
            background-color: #8bc220;
        }
        span{
            margin-left: auto;
            margin-right: auto;
            font-family: 'Microsoft YaHei', 'Arial';
        }
    </style>
</head>
<body>
<div class="create_gg_success">
    <span>创建图片成功</span>
</div>
</body>
</html>